
@font-face { font-family: Poppins; font-weight: 700; src: url('./font/Poppins-Bold.otf'); } 
@font-face { font-family: Poppins; font-weight: 500; src: url('./font/Poppins-Medium.otf'); }  
@font-face { font-family: Poppins; font-weight: 400; src: url('./font/Poppins-Regular.otf'); }
@font-face { font-family: Poppins; font-weight: 300; src: url('./font/Poppins-Light.otf'); } 
@font-face { font-family: Museo Sans; font-weight: 700; src: url('./font/MuseoSans_700.otf'); }
@font-face { font-family: Museo Sans; font-weight: 400; src: url('./font/MuseoSans_400.otf'); }
@font-face { font-family: Museo Sans; font-weight: 300; src: url('./font/MuseoSans_300.otf'); }


html, body {
    height: 100%;
    margin: 0;
}

.input-verde:focus {
    border-color: #042c24;
    box-shadow: 0 0 0 .15rem #042c2486;
}
.btn:focus {
    box-shadow: none;
}

.boton-rojo, .boton-rojo:hover {
    background-color: #c0331b;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.border-radius {
    border-radius: 5px;
}
